.fondo {
    background-image: url(../Img/purple-plastic-holographic-texture-wrinkled.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.animate__fadeIn {
    animation-duration: 2s;
}

section.tituloPrincipal {
    text-align: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.section-contacto {
    background-color: white;
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
}


.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.Title_text_center  {
    padding-bottom: 20px;
}



footer {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: azure;
    padding: 20px;
    margin-top: 40px;
}

/* Seccion Contacto */
.contactese {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.nombre {
    margin-bottom: 5px;
}

input {
    border: solid 2px;
    border-radius: 2px;
}

textarea {
    border: solid 2px;
    border-radius: 2px;
}

.animate__jackInTheBox {
    animation-duration: 1s;
}

