.fondo {
  background-image: url(../Img/purple-plastic-holographic-texture-wrinkled.jpg);
  background-attachment: fixed;
  background-size: cover;
}

/* INDEX */
.tituloPrincipal {
  text-align: center;
}

.animate__fadeIn {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

.principal h2 {
  font-family: 'Oswald', sans-serif;
}

.animate__fadeIn {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

section.tituloPrincipal {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.section-contacto {
  background-color: white;
  border-radius: 10px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 10px;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

.Title_text_center {
  padding-bottom: 20px;
}

footer {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: azure;
  padding: 20px;
  margin-top: 40px;
}

/* Seccion Contacto */
.contactese {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.nombre {
  margin-bottom: 5px;
}

input {
  border: solid 2px;
  border-radius: 2px;
}

textarea {
  border: solid 2px;
  border-radius: 2px;
}

.animate__jackInTheBox {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* Seccion Galeria */
body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ecedee), color-stop(75%, #eceeef), to(#e7e8e9));
  background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 60px 0;
}

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .container.gallery-container {
    border-radius: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */