
$textoCentrado: center;

$fuenteTexto:(
    Oswald: 'Oswald' sans-serif,
    Roboto: 'Roboto Condensed' sans-serif,
    Droid: 'Droid Sans' sans-serif,
);

@mixin background {
    background-image: url(../Img/purple-plastic-holographic-texture-wrinkled.jpg);
    background-attachment: fixed;
    background-size: cover;
}

//Fondo
.fondo {
    @include background;
}

/* INDEX */

//main
.tituloPrincipal {
    text-align: $textoCentrado;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;

        h2 {
            font-family: map-get($fuenteTexto, Oswald);
        }
}

.animate__fadeIn {
    animation-duration: 2s;
}

section.tituloPrincipal {
    text-align: $textoCentrado;
    justify-content: center;
    font-family: map-get($fuenteTexto, Oswald);
}

.section-contacto {
    background-color: white;
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
}


.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.Title_text_center  {
    padding-bottom: 20px;
}



footer {
    font-family: map-get($fuenteTexto, Roboto);
    background-color: azure;
    padding: 20px;
    margin-top: 40px;
}

/* Seccion Contacto */
.contactese {
    text-align: $textoCentrado;
    font-family: map-get($fuenteTexto, Roboto);
}

.nombre {
    margin-bottom: 5px;
}

input {
    border: solid 2px;
    border-radius: 2px;
}

textarea {
    border: solid 2px;
}

textarea--radius {
    @extend textarea;
    border-radius: 2px;
}

.animate__jackInTheBox {
    animation-duration: 1s;
}

/* Seccion Galeria */

body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: $textoCentrado;
    margin-top: 70px;
    font-family: map-get($fuenteTexto, Droid);
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: $textoCentrado;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

