//Fondo
.fondo {
    background-image: url(../Img/purple-plastic-holographic-texture-wrinkled.jpg);
    background-attachment: fixed;
    background-size: cover;
}

//main
.animate__fadeIn {
    animation-duration: 2s;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;

        h2 {
            font-family: 'Oswald', sans-serif;
        }
}